*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    width: 100%
}

body{
    background-color: #eeeeee;
    width: 100%;
}

.app{
    display: grid;
    grid-template-columns: 10% 10% 35% 2% 23% 5% 15%;
    grid-template-rows:2000px;
}

.colUser{
    grid-column: 2/3;
}

.col-active{
    grid-column: 7/8 ;
}

.more{
    grid-column: 5/6;
}

.newfeed{
    height: 100%;
    position: relative;
    top: 40px;
}

.more{
    position: relative;
    top: 56px;
}

@media(max-width:1436px){
    .newfeed .file .item i{
        font-size: 15px
    }
}

@media(max-width:1317px){
    .app{
    grid-template-columns:5% 0 50% 2% 23% 5% 15%;
    }
}

@media(max-width:976px){
    .app{
        grid-template-columns:5% 70% 5% 20%;
        grid-template-rows: 20% 70%;
    }

    .more{
        grid-row: 1/2;
        grid-column:2/3 ;
        position: static;
        top: auto;
        margin-top: 56px;
    }

    .newfeed{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .col-active{
        grid-column: 4/5;
    }

}

@media(max-width:696px){
    .app{
        grid-template-columns:5% 90% 5% 0;
        grid-template-rows: 20% 70%;
    }

    .col-active{
        display: none;
    }
}