<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/710d2c5018.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="add-new">
        <div class="add-new-post">Tạo bài viết</div>
        <div class="input-ava">
            <img src="#" >
            <input type="text" placeholder="Tuấn ơi, bạn đang nghĩ gì...">
        </div>
        <div class="file">
            <div class="item">
                <i class="far fa-image"> Ảnh video</i>
            </div>
            <div class="item">
                <i class="far fa-image"> Gắn thẻ bạn bè</i>
            </div>
            <div class="item">
                <i class="far fa-image"> Cảm xúc</i>
            </div>
        </div>
    </div>
</body>

</html>